// color palette
$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f2f2f2;
$gray7: #f9f9f9;
$red: #eb5757;
$blue: #4056c7;
$white: #fff;
$black: #101010;
$lightblue: #a7c5e3;
$darkblue1: #2c3e50;
$darkblue2: #34495e;
