// color palette
$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f2f2f2;
$gray7: #f9f9f9;
$red: #eb5757;
$blue: #4056c7;
$white: #fff;
$black: #101010;
$lightblue: #a7c5e3;
$darkblue1: #2c3e50;
$darkblue2: #34495e;

$green1: #E6F4BE;
$green2: #b4cf68;
$green3: #007043;
$mint1: #9DDED6;
$mint2: #40baa4;
$mint3: #1F8276;
$mint4: #0A5947;
$turquoise1: #BCEAF6;
$turquoise2: #03919B;
$pink1: #ffdee6;
$pink2: #ffaab0;
$pink3: #ec5064;
$peach1: #fcceb2;
$peach2: #fe9866;
$peach3: #c86218;
$gold1: #ffd083;
$gold2: #f9a834;


$themeA1: #fffb94;
$themeA2: #fdd475;
$themeA3: #f2c057;
$themeA4: #faaf08;
$themeA5: #fa812f;

$themeB1: #fef2e4;
$themeB2: #fef3e2;
$themeB3: #d5c3aa;
$themeB4: #ddc5a2;
$themeB5: #ead39c;
$themeB6: #755248;


$playful1:#f886a8;
$playful2:#FE8d6f;
$playful3:#fdc453;
$playful4:#dfdd6c;
$playful5:#a0dde0;
$playful6:#9adbc5;
