@use '../base/' as *;

.popup-wrap {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  &.best-record {
    background-image: url(../images/firecracker.gif);
  }

  .popup {
    min-width: 500px;
    padding: 1rem;
    min-height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: $themeA4;
    color: $white;

    &-title {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }

    &-record {
      font-size: 2rem;
      text-align: center;
    }
  }

  .button-group {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    .button {
      padding: 1rem 2rem;
      width: 40%;
      font-size: 1.5rem;
      color: $themeA5;
      background: $themeA2;
      border-radius: 5px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    }
  }
}
