@use '../base/' as *;

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.hidden {
  display: none !important;
}

.ranks-heading {
  margin: 2vh 10vw;
  height: 20vh;
  line-height: 20vh;
  background-color: $lightblue;
  text-align: center;
  color: $darkblue2;
  font-size: 5rem;
}

.ranks-table {
  width: 80vw;
  margin: 1vh 10vw;
  padding: 2vh 3vw;
  background-color: $gray6;
  border-radius: 5px;

  &-head {
    height: 8vh;
    line-height: 8vh;
    font-size: 1.5rem;
    background-color: $darkblue1;
    color: $white;
    text-transform: uppercase;
  }

  & tr {
    margin: 1vh 1vw;
    height: 6vh;
    line-height: 6vh;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;

    &.my-record {
      background-color: rgb(247, 235, 135);
      color: $red;
      @include slidingEffect();
    }

    th,
    td {
      min-width: 20vw;
      text-align: center;
      vertical-align: middle;
    }
  }
}
.page-control {
  margin: 2vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  .page-nums {
    display: flex;

    li {
      margin: 0 2vw;
      transition: transform ease-in 200ms;
      &:hover {
        transform: scale(1.5);
      }
    }
    .current {
      color: $red;
    }
  }

  > button {
    background-color: transparent;
    border-style: none;
    transition: transform ease-in 200ms;
    &:hover {
      transform: scale(1.5);
    }
  }
}

.result {
  margin: 3vh 10vw;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray4;
  font-size: 1.2rem;
  p {
    margin: 2vh;
  }
}

.return {
  margin: 1vh auto;
  padding: 1.5vh 3vw;
  width: 40vw;
  display: block;
  border-radius: 15px;
  border: 2px solid $darkblue2;
  background-color: $lightblue;
  text-align: center;
  font-size: 1.5rem;

  &:hover {
    background-color: $darkblue1;
    color: $white;
  }
}
