@import './reset', './default', './color', './mixin';

body {
  background-color: $darkblue1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background-color: $darkblue2;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: $white;
  position: relative;
  text-align: center;
  width: 500px;
  input {
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
    padding: 12px 20px;
    margin-top: 10px;
    &:focus {
      outline: none;
      border: solid 1px $lightblue;
    }
    &.error:focus {
      border: solid 1px $red;
    }
  }
}

.title {
  margin: 0 0 40px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 24px;
  font-weight: 600;
}

.word {
  font-size: 36px;
}

div.error {
  margin-top: 10px;
  color: $red;
}

.left-container {
  position: absolute;
  top: 65px;
  right: 20px;
}

.time-container {
  position: absolute;
  top: 65px;
  left: 20px;
}
